<div class="span16">
	<ul class="tabs" data-tabs="tabs">
	  <li class="active"><a href="#home">Blog entries</a></li>
	  <li><a href="#profile">Blog properties</a></li>
	</ul>

	<div id="my-tab-content" class="tab-content">
		<div class="active tab-pane" id="home">
			<div class="span16" id='moveup'>
				<% if @blog_posts.any? %>
					<section id="blog_posts">
						<%= render :partial => "/blog/shared/post", :collection => @blog_posts %>
						<%= will_paginate @blog_posts %>
			    	</section>
				<% else %>
					<p><%= t('.no_blog_articles_yet') %></p>
				<% end %>
			</div>
		</div>	

		<div class="tab-pane" id="profile">
			<div class="span16" id='moveup'>
				<div class="panel">
					<div class="row">
						<div class="span4">
				  			<%= render :partial => "/blog/shared/categories" %>
						</div>
						<div class="span4">
				  			<%= render :partial => "/blog/shared/tags" %>
						</div>
						<div class="span4">
				  			<%= render :partial => "/blog/shared/rss_feed" %>
						</div>
						<div class="span4">
				  			<%= render :partial => "/blog/shared/archive_list" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
<%= render :partial => "/shared/content_page" %>
<% content_for :stylesheets, stylesheet_link_tag('refinerycms-blog') %>
