<%
  if !!local_assigns[:apply_css] and (classes = menu_branch_css(local_assigns)).any?
    css = "class='#{classes.join(' ')}'".html_safe
  end
 
 # dom_id DEPRECATED: REMOVE AT 1.1, serves no purpose same with css attributes 'first' and 'last'
  dom_id = "id='item_#{menu_branch_counter}'".html_safe if menu_branch.parent_id.nil?
-%>

  <% if (children = menu_branch.children unless hide_children).present? -%>
    <% dropdown = "class='dropdown'" -%>
    <li<%= ['', dropdown].compact.join(' ').gsub(/\ *$/, '').html_safe %>>
    <%= link_to menu_branch.url, :class => 'dropdown-toggle', "data-toggle" => "dropdown" do -%>
      <%= menu_branch.title %>
      <b class="caret"></b>
    <% end %>
  <% else -%>
    <li<%= ['', css].compact.join(' ').gsub(/\ *$/, '').html_safe %>>
    <%= link_to menu_branch.title, menu_branch.url -%>
  <% end -%>


  <% if (children = menu_branch.children unless hide_children).present? -%>
<!--     <% if menu_branch_counter == 1 %>
      <ul class="dropdown-menu sub-menu">
    <% else %>
      <ul class="dropdown-menu ">
    <% end %>  -->   
     <ul class="dropdown-menu sub-menu <%= menu_branch_counter %>">
      <%= render :partial => '/shared/menu_branch', :collection => children, 
                 :locals => {
                   :hide_children => !!hide_children
                 } -%>
    </ul>
  <% end -%>
</li>