<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>
  <body>
    <%= site_bar -%>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

    <div class="container">

	    <div class="topbar">
	      <div class="fill">
	        <div class="container">
			  <%= link_to RefinerySetting.find_or_set(:site_name, "Company Name"), root_path, :class => 'brand' %>
			  <%= render :partial => "/shared/header" -%>
	        </div>
	      </div>
	    </div>
        <!-- Main hero unit for a primary marketing message or call to action -->
	      <div class="hero-unit">

			<p>Avoiding The Next Banking Crisis</p>
		 </div>	

      	<div class="row">
	        
        		<%= yield %>
	
		</div>
      

	  <footer>
        <%= render :partial => "/shared/footer" -%>
      </footer>

    </div>

    <%= render :partial => "/shared/javascripts" %>
  </body>
</html>
