<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>
  <body>
    <%= site_bar -%>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
	
	    <div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
				<div class="nav-collapse">
				  <%= link_to RefinerySetting.find_or_set(:site_name, "Company Name"), root_path, :class => 'brand' %>
				  <%= render :partial => "/shared/header" -%>
				</div>
	        </div>
	      </div>
	    </div>
	
	    <div class="container">	
			<div class="row">
				<div class="span4">
					<%= image_tag("robijn_2.png", :border=>0) %>
			 	</div>
		
				<div class="span8" id="test">
					<h1>Avoiding The Next Banking Crisis</h1>
					<p>A blog about banks and bank reform, by Robijn Hornstra.</p>
				</div>
			</div>
	      
			<div class="row">	        
				<%= yield %>	
			</div>
 
			<hr />
			
		  	<footer>
	        	<%= render :partial => "/shared/footer" -%>
	      	</footer>
	
	
	
			<div class="navbar">
			    <div class="navbar-inner">
			      <div class="container" style="width: auto;">
		
	
			        <div class="nav-collapse">
			          <ul class="nav">
			            <li class="dropdown">
			              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
			              <ul class="dropdown-menu">
			                <li><a href="#">Action</a></li>
			                <li><a href="#">Another action</a></li>
			                <li><a href="#">Something else here</a></li>
			                <li class="divider"></li>
			                <li><a href="#">Separated link</a></li>
			                <li><a href="#">One more separated link</a></li>
			              </ul>
			            </li>
			          </ul>

			        </div><!-- /.nav-collapse -->
			      </div>
			    </div><!-- /navbar-inner -->
			  </div>
	    </div>

    <%= render :partial => "/shared/javascripts" %>
  </body>
</html>
